extends ../layouts/logged_in

block content
	div(class="homepage-grid clearfix")
		a(href="#{base_url}/timeline")

			div(class="box")
				div.inner(style="background-image: url('#{base_url}/images/timeline-screenshot.png')")
					h2 Timeline
		a(href="#{base_url}/entity-linking-graph")
			div(class="box")
				div.inner(style="background-image: url('#{base_url}/images/entity-linking-graph-screenshot.png')")
					h2 Entity Linking Graph



		a(href="#{base_url}/wordcloud")
			div(class="box")
				div.inner(style="background-image: url('#{base_url}/images/wordcloud-screenshot.png')")
					h2 Wordcloud
		a(href="#{base_url}/category-tree")
			div(class="box")
				div.inner(style="background-image: url('#{base_url}/images/tree-screenshot.png')")
					h2 Category Tree
		a(href="#{base_url}/entity-recognition-report")
			div(class="box")
				div.inner(style="background-image: url('#{base_url}/images/er-screenshot.png')")
					h2 Entity Recognition Report
		a(href="#{base_url}/association-rule-mining")			
			div(class="box")
				div.inner(style="background-image: url('#{base_url}/images/arm-screenshot.png')")
					h2 Association Rule Mining

